In [17]:
# Import Dependencies
import pandas as pd
import numpy as np

In [5]:
# Make a reference to the books.csv file path

file_path="books.csv"

# Import the books.csv file as a DataFrame
books_df=pd.read_csv(file_path)
books_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [6]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

books_df_trim=books_df[["isbn", "original_publication_year", "original_title", 
                        "authors", "ratings_1", "ratings_2", "ratings_3", 
                        "ratings_4", "ratings_5"]]
books_df_trim.head()

,isbn,original_publication_year,original_title,authors,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [7]:
# Rename the headers to be more explanatory
book_trim_rename=books_df_trim.rename(columns={"isbn":"ISBN", "original_publication_year":"Publication Year", 
                              "original_title":"Original Title", "authors":"Authors", 
                              "ratings_1":"One Star Reviews", "ratings_2":"Two Star Reviews",
                              "ratings_3":"Three Star Reviews", 
                              "ratings_4":"Four Star Reviews", "ratings_5":"Five Star Reviews"})
book_trim_rename.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [16]:
# Push the remade DataFrame to a new CSV file
book_trim_rename.to_csv("good_reads_reformat.csv", index=False, header=True)
book_trim_rename.columns

Index(['ISBN', 'Publication Year', 'Original Title', 'Authors',
       'One Star Reviews', 'Two Star Reviews', 'Three Star Reviews',
       'Four Star Reviews', 'Five Star Reviews'],
      dtype='object')

In [26]:
review_types=['One Star Reviews', 'Two Star Reviews', 'Three Star Reviews',
       'Four Star Reviews', 'Five Star Reviews']
review_totals=[book_trim_rename[star].sum() for star in review_types]
total_reviews=np.sum(review_totals)
unique_authors=book_trim_rename["Authors"].unique().tolist()
book_summary=pd.DataFrame({"Unique Authors":len(unique_authors),
    "Earliest Publication Year": book_trim_rename["Publication Year"].min(),
    "Lastest Publication Year": book_trim_rename["Publication Year"].max(),
    "Total Reviews":total_reviews})
review_totals

ValueError: If using all scalar values, you must pass an index